<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all routes to home page -->
        <rule name="Block App Routes" stopProcessing="true">
          <match url="^app/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Pages Routes" stopProcessing="true">
          <match url="^pages/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Blog Routes" stopProcessing="true">
          <match url="^blog/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Next Routes" stopProcessing="true">
          <match url="^_next/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Out Routes" stopProcessing="true">
          <match url="^out/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Src Routes" stopProcessing="true">
          <match url="^src/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Lib Routes" stopProcessing="true">
          <match url="^lib/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Content Routes" stopProcessing="true">
          <match url="^content/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Scripts Routes" stopProcessing="true">
          <match url="^scripts/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Block Docs Routes" stopProcessing="true">
          <match url="^docs/.*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <!-- Catch all other routes except home and favicon -->
        <rule name="Redirect All Others" stopProcessing="true">
          <match url="^(?!$|favicon\.ico$|index\.html$).*" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
